@import 'variables';

.welcome-message {
  padding-top: 16px;
  h2 {
    line-height: 72px;
  }

  @media only screen and (max-width: #{$tablet}) {
    h2 {
      font-size: 48px;
      line-height: 56px;
    }
  }
}
