@import 'variables';

@keyframes pulse {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }
  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }
  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}
@keyframes pulseHeader {
  0% {
    background-color: rgba(165, 165, 245, 0.1);
  }
  50% {
    background-color: rgba(165, 165, 245, 0.3);
  }
  100% {
    background-color: rgba(165, 165, 245, 0.1);
  }
}
.table-placeholder {
  margin: 32px;
  background: white;
  padding: 8px 16px;
  display: block;
  width: auto;

  div {
    height: 32px;
    border-bottom: 1px solid #dedede;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  div:first-child {
    span {
      animation: pulseHeader 2s infinite ease-in-out;
    }
  }
  div:last-child {
    justify-content: flex-end;
    height: 40px;

    span {
      width: 5%;
      margin-left: 16px;
    }
  }
  span {
    display: inline-block;
    width: 20%;
    height: 16px;
    animation: pulse 2s infinite ease-in-out;
  }
}
