@import 'chrome-theme';
@import 'variables';

:host {
  flex: 1;
}

div {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  opacity: $emphasis-medium-opacity;

  span {
    font-size: 12px;
    margin-top: -8px;
  }

  &.active {
    opacity: 1;
  }
}

mat-icon {
  color: white;
}
