@import 'variables';
@import 'chrome-theme';

.job-datail-tab-content {
  padding-bottom: 200px; // for content showing when scrolling down to the bottom. 200px is the height of space that two FAB taken.
}
.status-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .status {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(100%, 450px);

    mat-slider {
      width: 100%;
      padding: 0 0 8px 0;
    }
    .progress-labels {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 115%;
      span {
        width: 80px;
        text-align: center;
      }
      @media screen and (max-width: $tablet) {
        width: 100%;
        span {
          text-align: left;
        }
      }
    }
  }

  @media screen and (min-width:#{$tablet+1}) {
    margin: 32px 0;
  }

  @media screen and (max-width: $tablet) {
    margin: 24px 16px;
  }
}

//As we disabled the slider, the theming colors can't apply to the slider, we have to change slider bar colour here.
//slider bar
:host::ng-deep .mat-slider-track-wrapper {
  background-color: $color-accent !important;
}
//slider thumb
:host::ng-deep .mat-slider-thumb {
  background-color: $color-accent !important;
}

//uncompleted part of bar
:host::ng-deep .mat-slider-track-background {
  background-color: rgba(255, 255, 255, 0.5);
}

//completed part of bar
:host::ng-deep .mat-slider-track-fill {
  background-color: rgba(0, 0, 0, 0);
}

.job-info-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .job-detail-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .job-detail-title {
      width: 100%;
      padding-bottom: 16px;
      color: $color-accent;
    }
    .job-detail-field {
      display: flex;
      flex-direction: column;
      .job-detail-field-value {
        border-bottom: 1px solid $chrome-border-colour-dark;
      }
    }
    @media screen and (min-width:#{$tablet+1}) {
      padding: 16px 0 16px 16px;
      width: calc(66.7% - 34px);
      border: 1px solid $chrome-border-colour-dark;
      margin: 0 16px;
      .job-detail-field {
        padding: 0 16px 8px 0;
        width: 50%;
      }
      //The last field 'job description' should takes 100% width
      .job-detail-field:last-of-type {
        width: 100%;
      }
    }
    @media screen and (max-width: $tablet) {
      width: 100%;
      .job-detail-field {
        padding: 4px 0;
        width: 100%;
      }
      .job-detail-title {
        display: none;
      }
    }
  }
  .project-manager-container {
    height: fit-content;
    .project-manager-title {
      color: $color-accent;
    }
    @media screen and (min-width:#{$tablet+1}) {
      padding: 16px;
      margin: 0 16px 0 0;
      border: 1px solid $chrome-border-colour-dark;
      border-radius: 3px;
      width: calc(33.3% - 18px);
    }
    @media screen and (max-width: $tablet) {
      display: none;
    }
  }
}
