
.notification-wrapper {
  mat-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #64beec;
    padding: 8px 16px;
    margin-bottom: 16px;

    .text-wrapper {
      display: flex;
      align-items: center;
      color: white;

      svg {
        margin-right: 6px;
      }

      @media screen and (max-width: 448px) {
        align-items: flex-start;
        svg {
          margin-top: 2px;
        }
      }
    }

    .review-button {
      cursor: pointer;
      border: 0;
      font-size: 16px;
      color: white;
      background: transparent;
      text-decoration: underline;

      &:focus {
        outline: 0;
      }

      @media screen and (max-width: 448px) {
        margin-top: 3px;
      }
    }

    @media screen and (max-width: 448px) {
      align-items: flex-start;
    }
  }
}
