<mat-card class="mat-elevation-z0">
  <div class="job-item">
    <div class="job-item-header">
      <div class="job-item-title"></div>
      <p class="dark-medium-emphasis">
        Save any job to the homepage for quick and easy access. Simply tap the star on any job and it will be displayed here.
      </p>
    </div>
  </div>
  <div class="footer-button">
    <button mat-icon-button class="icon-button">
      <ven-icon-new icon="star" colour="#008be5" [filled]="true"></ven-icon-new>
    </button>
  </div>
</mat-card>
