$color-primary-100: #f2f1f7;
$color-primary-200: #e8e7ed;
$color-accent: #039be5; //todo from theme
$color-grey: #424242;
$color-highlight: #badffa;
$border-colour: #efefef;

$mobile: 600px;
$tablet: 1024px;

$header-height: 125px;
$header-height-mobile: 50px;
$footer-height: 25px;
$drawer-width: 55%;
$drawer-width-wide: 55%;
$drawer-width-mobile: 100%;
$drawer-width-tablet: 75%;
$emphasis-medium-opacity: 0.76;
