<div class="wrapper">
  <img src="/assets/img/logo.svg" class="logo" />

  <img src="/assets/img/background-desktop.png" class="background" />
  <img src="/assets/img/background-mobile.png" class="background-mobile" />

  <div class="box">
    <h6 class="bold">Forgot Password</h6>
    <mat-progress-spinner [mode]="'indeterminate'" [color]="'accent'" *ngIf="loading; else signin"></mat-progress-spinner>
    <ng-template #signin>
      <form *ngIf="!resetSent" form (ngSubmit)="onReset(f)" #f="ngForm">
        <p>Enter your email and we will send you a link to reset your password.</p>
        <mat-form-field class="full-width" appearance="outline">
          <input matInput placeholder="Email" type="email" id="email" name="email" ngModel required />
        </mat-form-field>
        <mat-card-actions class="button">
          <button mat-raised-button color="accent" type="submit" [disabled]="!f.valid">Reset</button>
        </mat-card-actions>
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
      </form>
      <a *ngIf="!resetSent" [routerLink]="['/venture/login']"> Return to login </a>
      <div *ngIf="resetSent" class="email-sent">
        <mat-icon>
          <svg xmlns="http://www.w3.org/2000/svg" width="124" height="124" viewBox="0 0 24 24">
            <path fill="none" d="M0 0h24v24H0V0z" />
            <path d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6zm-2 0l-8 5-8-5h16zm0 12H4V8l8 5 8-5v10z" />
          </svg>
        </mat-icon>
        <div>Please check your inbox</div>
        <a [routerLink]="['/venture/login']">return to login </a>
      </div>
    </ng-template>
  </div>
</div>
