@import 'variables';

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  .field-item {
    width: 48%;
    @media screen and (max-width: $tablet) {
      width: 100%;
    }

    mat-form-field {
      width: 100%;
    }
  }
}
