@import 'variables';
@import 'chrome-theme';
.drawer-wrapper {
  padding: 32px;
  &.loader-active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &.print-active {
    display: none;
  }

  @media only screen and (max-width: #{$mobile}) {
    padding: 32px 8px;
  }
}
mat-icon {
  fill: $color-accent;
}

.mat-button .mat-button-wrapper > *,
.mat-fab .mat-button-wrapper > *,
.mat-flat-button .mat-button-wrapper > *,
.mat-icon-button .mat-button-wrapper > *,
.mat-mini-fab .mat-button-wrapper > *,
.mat-raised-button .mat-button-wrapper > *,
.mat-stroked-button .mat-button-wrapper > * {
  vertical-align: middle;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inherit;
  width: 25vw;

  @media only screen and (max-width: #{$mobile}) {
    width: 80vw;
  }
  @media only screen and (max-width: 1280) {
    width: 25vw;
  }
  // @media only screen and (max-width: 1280px) {
  //     width: 580px;
  // }
  // @media only screen and (max-width: 1440px) {
  //     width: calc( 50vw -15px);
  // }
}

.loader-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

h2 {
  color: $color-accent;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

p {
  margin-bottom: 16px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
}

.mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

.grid {
  margin-bottom: 16px;
}

.grid-row {
  display: grid; //four columns; first is twice width of the rest
  grid-template-columns: 0.25fr 1.25fr 1fr 1.25fr;
  border-bottom: 1px solid $chrome-border-colour-dark;
  font-size: 13px;
  &.padded {
    padding-bottom: 16px;
  }
  &.noUnderline {
    border-bottom: none;
  }
  &.bold {
    font-weight: bold;
    border-bottom: 1px solid $chrome-border-colour-dark;
  }
  @media only screen and (max-width: #{$mobile}) {
    font-size: 11px;
    div:first-child {
      font-size: 12px;
    }
  }
}

.grid-row-header {
  span {
    color: $color-accent;
  }
  border-bottom: 1px solid $chrome-border-colour-dark;
}

.tile {
  border: 1px solid $chrome-border-colour-dark;
  padding: 8px;
  border-radius: 3px;
  margin-bottom: 8px;

  &:active {
    border: 1px solid #039be5;
  }
  div span:first-child {
    margin-right: 5px;
    font-size: 14px;
  }
}
.not-mobile {
  display: inline-block;
  @media only screen and (max-width: #{$mobile}) {
    display: none !important;
  }
}
.subtitle {
  @media only screen and (max-width: #{$tablet}) {
    justify-content: space-between;
  }
  mat-icon {
    margin-right: 5px;
  }
  span {
    display: flex;
  }
}

.error-message {
  background: darkred;
  color: white;
  padding: 10px;
  border-radius: 3px;
  margin: 0.5em 0;
}

.section {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(3, 155, 229, 0.17);
  border-radius: 3px;
  padding: 16px;
  margin-bottom: 16px;

  mat-radio-group {
    display: flex;
    flex-direction: column;
  }

  ::ng-deep .mat-radio-label-content {
    display: flex !important;
    align-items: center !important;
  }

  mat-icon {
    margin-right: 4px;
    &:first-child {
      line-height: 14px;
    }
    &:hover {
      cursor: pointer;
      color: $color-accent;
    }
  }
}
.button-container {
  display: flex;
  justify-content: space-around;

  mat-icon {
    fill: white;
  }

  ::ng-deep .mat-button-wrapper {
    display: flex;
    align-items: center;
  }

  @media only screen and (max-width: #{$mobile}) {
    flex-direction: column;

    button {
      margin: 0.5em;
    }
  }
}
