<mat-card>
  <mat-progress-spinner [mode]="'indeterminate'" [color]="'accent'" *ngIf="loading; else reset"></mat-progress-spinner>
  <ng-template #reset>
    <div *ngIf="!resetComplete && !expired">
      <h6 class="bold">Reset your password</h6>
      <b>for {{ email }}</b>
    </div>
    <form *ngIf="!resetComplete && !expired" form (ngSubmit)="onSave(f)" #f="ngForm">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>New Password</mat-label>
        <input matInput type="password" id="password" name="password" ngModel required />
      </mat-form-field>
      <mat-card-actions class="button">
        <button mat-raised-button color="accent" type="submit" [disabled]="!f.valid">Save</button>
      </mat-card-actions>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </form>
    <div *ngIf="resetComplete" class="complete">
      <h6 class="bold">Password changed</h6>
      <mat-icon>
        <svg xmlns="http://www.w3.org/2000/svg" width="124" height="124" viewBox="0 0 24 24">
          <path fill="none" d="M0 0h24v24H0V0z" />
          <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z" />
        </svg>
      </mat-icon>
    </div>
    <div *ngIf="expired" class="error-message">
      {{ errorMessage }}
    </div>
    <a [routerLink]="['/venture/login']"> Return to login </a>
  </ng-template>
</mat-card>
