<div class="spec-placeholder animated-background">
  <section>
    <div>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </section>
  <div>
    <span></span>
    <span></span>
  </div>
  <div>
    <span></span>
    <span></span>
  </div>
  <div>
    <span></span>
    <span></span>
  </div>
  <div>
    <span></span>
    <span></span>
  </div>
  <div>
      <span></span>
      <span></span>
  </div>
</div>