@import '../../styles/shared-print-styles.scss';
.section-extras-optional {
  width: 100%;
  border: 1px solid rgba(3, 155, 229, 0.17);
  border-radius: 3px;
  padding: 1em;
  margin-top: 1em;

  .electrical-extras-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    .description {
      display: flex;
      flex-direction: row;
      width: auto;
      justify-content: space-between;

      @media print {
        page-break-inside: avoid;
        display: inline-block;
        span:last-of-type {
          float: left;
          width: 100%;
          display: block;
        }
      }
    }

    > div {
      width: 100%;
      padding-bottom: 0.15em;
      margin-bottom: 0.5em;
    }
  }
}

.textarea {
  white-space: pre-wrap;
}

h5 {
  font-size: 15px !important; //override body.new-shell
  font-weight: 400 !important;
}
