@import 'chrome-theme';
@import 'variables';

.logo {
  display: none;
}

@media only screen and (max-width: #{$tablet}) {
  .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;

    img {
      width: 136px;
    }
  }
}

.job-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
