<div class="wrapper">
  <img src="/assets/img/logo.svg" class="logo" />

  <img src="/assets/img/background-desktop.png" class="background" />
  <img src="/assets/img/background-mobile.png" class="background-mobile" />

  <div class="box">
    <h6 class="bold">Change Password</h6>
    <mat-progress-spinner [mode]="'indeterminate'" [color]="'accent'" *ngIf="loading; else changeForm"></mat-progress-spinner>
    <ng-template #changeForm>
      <form form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <p>Choose a new password ({{ minPasswordLength }} characters or more)</p>
        <mat-form-field class="full-width" appearance="outline">
          <input matInput placeholder="Password" type="password" id="password" name="password" ngModel required />
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <input matInput placeholder="Confirm Password" type="password" id="confirm" name="confirm" ngModel required />
        </mat-form-field>
        <mat-card-actions class="button">
          <button mat-raised-button color="accent" type="submit" [disabled]="!f.valid">Submit</button>
        </mat-card-actions>
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
        <div *ngIf="pwd && confirm && pwd != confirm" class="error-message">Passwords do not match</div>
        <div *ngIf="pwd && pwd?.length < 8" class="error-message">Password must be {{ minPasswordLength }} or more characters</div>
      </form>
    </ng-template>
  </div>
</div>
