@import 'variables';
@import 'chrome-theme';

// temp until image set on body
.background {
  position: fixed;
  left: 0;
  top: 25%;
  bottom: 0;
  right: 0;
  z-index: 9998;
  width: 100%;
  height: 75%;
}
.background-mobile {
  display: none;
}

@media only screen and (max-width: #{$tablet}) {
  .background {
    display: none;
  }
  .background-mobile {
    display: block;
    position: fixed;
    left: 0;
    top: 25%;
    bottom: 0;
    right: 0;
    z-index: 9998;
    width: 100%;
    height: 75%;
  }
}

:host {
  background-color: #414042;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  ::ng-deep.mat-input-element {
    color: white !important;
  }

  ::ng-deep.mat-form-field-appearance-outline .mat-form-field-label {
    color: white !important;
  }

  input:-internal-autofill-selected {
    background: transparent !important;
  }

  ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
    color: white !important;
  }

  ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: white !important;
  }

  ::ng-deep.mat-form-field .mat-form-field-label {
    color: white !important;
  }
  ::ng-deep.mat-form-field-label {
    color: white !important;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  position: fixed;
  top: 24px;
  width: 250px;

  @media only screen and (max-width: #{$tablet}) {
    top: 16px;
    width: 136px;
  }
}

.box {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 9999;

  @media only screen and (max-width: #{$tablet}) {
    width: auto;
    min-height: auto;
    min-width: 50%;
  }
}

h6 {
  color: $color-accent;
  margin: 24px 0;
  text-transform: uppercase;

  @media only screen and (max-width: #{$tablet}) {
    margin: 16px 0;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;

  @media only screen and (max-width: #{$tablet}) {
    max-width: 400px;
    width: calc(100vw - 32px);
  }

  button {
    width: 100px;
  }
}

.mat-input-element::placeholder {
  color: white;
  opacity: 0.55;
}
.error-message {
  background: darkred;
  color: white;
  margin-top: 8px;
  padding: 10px;
}

mat-spinner {
  width: 100px;
  height: 100px;
  margin: 20px auto 0 auto;
  z-index: 5;
}

.full-width {
  width: 100%;
}
