@import 'variables';
mat-card {
  margin: 8px 0;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.date-card {
  margin: 0 16px;
}
