@import 'variables';

.left-container {
  p {
    margin-bottom: 16px;
  }
  p:last-of-type {
    margin-bottom: 0;
  }
  padding-bottom: 50px;
}

.quote-options-title {
  margin-bottom: 16px;
}
.advanced-options {
  cursor: pointer;
}

@media screen and (max-width: $tablet) {
  .hideOnMobile {
    display: none;
  }
}
